<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8"></meta>
    <title> DemNet </title>
  </head>
  <body>
    <h2> DemNet </h2>
    <h2> <%= name %> </h2>

    <% for( message in messages ) { %>
      <h3> <%= message.title %> </h3>
      <p> <%= message.author %>
      <% if( type == 'img' ) { %>
        <img src="<%= message.content %>" alt="Unavilable">
      <% } else { %>
        <p> <%= message.content %> </p>
      <% } %>
    <% } %>
  </body>
</html>
